/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;

  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #e9e9e9;

  height: 60px;
}

/* Margin and padding
-------------------------------------------------- */
.lg-margin-bottom {
  margin-bottom: 60px;
}

.lg-margin-top {
  margin-top: 60px;
}

.md-margin-top {
  margin-top: 40px;
}

.sm-margin-top {
  margin-top: 20px;
}



h2{
  color:rgb(191, 148, 85);
}

#pictos{
 
  color:rgb(41, 60, 76);
}

text-muted{
  color:rgb(200, 192, 189);
}


#Leformulaire{
    margin-top: 5%;
}

a.btn btn-default btn-block{
    padding: 5%;
}