{% extends 'layouts/app.html' %}

{% block title %}Bienvenue sur le WebPortal CareConcierge !!!{% endblock %}
{% block meta_description %}Bienvenue sur le WebPortal CareConcierge !!!{% endblock %}

{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <br>
      <br>
      <br>
      <h1 style="color:rgb(41, 60, 76)">Bienvenue sur le WebPortal CareConcierge !!!</h1>
      <h3 class="text-muted" >
        Interface pour vous faciliter la vie, gerér vos réservations, accedez a vos factures et a vos chiffres depuis cette page 
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <i id="pictos" class="fa fa-fw fa-5x fa-calendar text-primary" ></i>
        <h2 >Gérer le calendrier</h2>
        <p class="text-muted">actualisez vos réservations</p>
        <p>
          <a href="#" class="btn btn-default" style="color:rgb(41, 60, 76)">Entrer</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i id="pictos" class="fa fa-fw fa-5x fa-area-chart text-primary" ></i>
        <h2>Acceder aux chiffres</h2>
        <p class="text-muted">Analysez vos résultats</p>
        <p>
          <a href="#" class="btn btn-default">Entrer</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i id="pictos" class="fa fa-fw fa-5x fa-archive text-primary" ></i>
        <h2>Acceder aux documents</h2>
        <p class="text-muted">Factures Care, factures de réservations et autres</p>
        <p>
          <a href="#" class="btn btn-default">Entrer</a>
        </p>
      </div>
      <div class="col-lg-4" style="align-self: center;";>
        <i id="pictos" class="fa fa-fw fa-5x fa-dollar text-primary" ></i>
        <h2>test postgres</h2>
        <p class="text-muted">to be implemented</p>
        <p>
          <a href="{{ url_for('testpostgres.postgres')}}" class="btn btn-default">Entrer</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
